<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sample4</title>
</head>
<body style="color: maroon;">
  
   <h2>a = {{a}}</h2>
   <h2>b = {{b}}</h2>
   
   <hr>

  {% if a > b %}
    <h3>a is greater</h3>
  {% else %}
    <h3>b is greater</h3>
  {% endif %}

  <h3>The sum is {{sum}}</h3>
  <h3>The difference is {{sub}}</h3>
  <h3>The product is {{mul}}</h3>
  <h3>The quotient is {{div}}</h3>

</body>
</html>